 *{margin:0;padding:0;} 
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight: 100;font-size: 16px;}
/* p{margin:0;padding:0;} */
b,strong{font-weight:100;}
a,u{text-decoration: none;}
/* img{display: block;border:0} */
i,em{font-style: normal;}
.clearfix::after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}


body{
	background: url(../images/body_bj.jpg);
	min-width:773px;
	padding:10px;
	font-size: 12px;
	cursor: auto;
  }
  /* H1 */
h1{
	border-bottom: 1px solid #ccc;
	color: #333;
	font-weight: normal;
	padding: 7px 10px;
	margin: 0 0 10px 0;
	overflow: hidden;
}
h1>span{
	font-size: 17px;
}
h1>span:nth-child(2){
	color: #4c4c4c;
}
.shop_list{
	float: right;
	height: 26px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	background: #c43926 url(../images/icon_add02.gif) no-repeat 6px center;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}
.shop_center a{
	color: #333;
}
.help{
	display: inline-block;
	width:110px ;
	height:26px ;
	vertical-align: middle;
	margin-left: 16px;
}
/*  nav*/
.nav{
	background: #f3f3f3;
	border: 1px solid #ddd;
	padding: 5px;
	color: #808080;
	margin: 0 0 10px 0;
}
.nav img{
	vertical-align: middle;
}
.nav select{
	vertical-align: middle;
    font-size: 12px;
    cursor: pointer;
}
.nav input{
	height: 21px;
	width: 103px;
	cursor: auto;
}
.nav .button{
	width: 54px;
	height:27px;
    border:0;
    border-radius: 2px;
	color: #fff;
	background: #ff3f3f;
}
.category_id{
	width: 160px;
	overflow-y: auto;
}
.brand_id{
	width: 106px;
}
.intro_type{width:74px;}
.is_on_sale{width: 50px;}
/* tabel */
.goods_list{
  background: #fff;
}
.goods_list input{
  vertical-align: middle;
}
.goods_list img{
  vertical-align: middle;
}
.goods_list a{
  color: #111;
}
.goods_list table{
	border:1px #dddddd;
	border-spacing: 0;
	border-collapse:collapse;
	width: 100%;
}
.goods_list th{
	line-height: 39px;
	background: #f3f3f3 ;
	white-space: nowrap;
	text-align: center;
	color: #111;
	font-weight: 100;
}
.goods_list td{
    background: #fff;
    padding: 10px;
    line-height: 39px;
    text-align: center;
}
.goods_list td:nth-child(2){
	font-weight: bolder;
	text-align: left;
}
.goods_list td:first-child{
	text-align: left;
}
.goods_list td a{
    display: inline-block;
    vertical-align: middle;
}
#page-table tbody{
  display: block;
  height: 23px;
  padding: 10px; 
}
#page-table tbody tr{
	float: right; 
}
#content {
  height: 30px;
  width: 100%; }
  #content #selAction {
    margin-top: 5px; }
  #content #btnSubmit {
    padding: 5px 15px 5px;
    margin: 2px 2px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px; }
/* footer */
#footer{
	background: #f3f3f3;
    border: 1px solid #ddd;
    padding: 15px;
    color: #9CACAF;
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
}