<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/list.css">
	<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
</head>
<body>
	<h1>
		<span class="shop_center">
			<a href="">ECSHOP管理中心</a>
		</span>
		<span >-添加新商品</span>
		<a href="" class="help" >
			<img src="../images/jnsy.png">
		</a>
		<a href="" class="shop_list">+商品列表</a>
	</h1>
	<div class="nav">
		<!-- <form name="SearchForm" action="/api/search_goods" method="post"> -->
			<img src="../images/icon_search.gif">
			<select name="category_id" class="category_id">
				<option value="0">所有分类</option>
				<option value="132">钻石</option>
				<option value="190">衬衫</option>
				<option value="193">&nbsp;&nbsp;&nbsp;&nbsp;短袖衬衫</option>
				<option value="0">&nbsp;&nbsp;&nbsp;&nbsp;长袖衬衫</option>
				<option value="160">外套</option>
				<option value="162">&nbsp;&nbsp;&nbsp;&nbsp;卫衣</option>
				<option value="167">&nbsp;&nbsp;&nbsp;&nbsp;棉服</option>
				<option value="163">&nbsp;&nbsp;&nbsp;&nbsp;大衣</option>
				<option value="168">&nbsp;&nbsp;&nbsp;&nbsp;皮夹克</option>
			</select>
			<select name="brand_id" class="brand_id">
				<option>所有品牌</option>
				<option>空间大师</option>
				<option>溢彩年华</option>
				<option>太平鸟</option>
				<option>cachecache</option>
				<option>七匹狼</option>
			</select>
			<select name="intro_type" class="intro_type">
				<option>全部</option>
				<option>精品</option>
				<option>新品</option>
				<option>热销</option>
				<option>特价</option>
			</select>
			<select name="is_on_sale" class="is_on_sale">
				<option>全部</option>
				<option>上架</option>
				<option>下架</option>
			</select>
			<label>关键字</label>
			<input type="text" name="keyword" size="15" id="keyword">
			<input type="submit" name="search" id="search" class="button" value="搜索" onclick="searchGoods()">
		<!-- </form> -->
	</div>
	<div class="goods_list">
		<table cellspacing="1" cellpadding="3" border="1" class="shop_tab">
			<tr class="fir_list">
				<th>
					<input type="checkbox">
					<a href="">编号</a>
					<img src="../images/sort_desc.gif">
				</th>
				<th>商品名称</th>
				<th>货号</th>
				<th>价格</th>
				<th>上架</th>
				<th>精品</th>
				<th>新品</th>
				<th>热销</th>
				<th>推荐顺序</th>
				<th>库存</th>
				<th>虚拟销量</th>
				<th>操作</th>
			</tr>
			<!-- <% for(var i=list.length-1;i>=0;i--){%>
					    <tr>
					    	<td>
					<input type="checkbox"><%= list[i].goods_id %>
				</td>
				<td><%= list[i].goods_name %></td>
				<td>ECS000203</td>
				<td><%= list[i].goods_price %></td>
				<td>
					<img src="../images/yes.gif">
				</td>
				<td>
					<img src="../images/no.gif">
				</td>
				<td>
					<img src="../images/yes.gif">
				</td>
				<td>
					<img src="../images/no.gif">
				</td>
				<td>
					100
				</td>
				<td>
					1
				</td>
				<td>
					0
				</td>
				<td>
					<a href=""><img src="../images/icon_view.gif"></a>
					<a href=""><img src="../images/icon_edit.gif"></a>
					<a href=""><img src="../images/icon_copy.gif"></a>
					<a href=""><img src="../images/icon_trash.gif"></a>
				</td>
					    </tr>		
					    <% }%>  -->
		</table>
		<!--分页-->
		<table id="page-table" cellspacing="0">
			<tbody>
				<tr>
					<td align="right" nowrap="true">
						<div id="turn-page">
							总计 <span id="totalRecords"><!--<%= list.length %>--></span> 
							个记录分为 <span id="totalPages">1</span> 
							页当前第 <span id="pageCurrent">1</span> 
							页，每页 <input type="text" size="3" id="pageSize" value="4"> 
							<span id="page-link">
			          	<a href="javascript:;" id="onepage" >第一页</a>
				        <a href="javascript:;" id="minpage" >上一页</a>
				        <a href="javascript:;" id="addpage" >下一页</a>
				        <a href="javascript:;">最末页</a>
					    <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
					    <option value="1">1</option>          
					    </select>
                             </span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="content">
				<select name="type" id="selAction">
					<option value="">请选择...</option>
					<option value="trash">回收站</option>
					<option value="on_sale">上架</option>
					<option value="not_on_sale">下架</option>
					<option value="best">精品</option>
					<option value="not_best">取消精品</option>
					<option value="new">新品</option>
					<option value="not_new">取消新品</option>
					<option value="hot">热销</option>
					<option value="not_hot">取消热销</option>
					<option value="move_to">转移到分类</option>
				</select>
				<input type="submit" value=" 确定 " id="btnSubmit" name="btnSubmit">
			</div>
	<!--footer-->
	<div id="footer">
		<div class="copyright">
			共执行 7 个查询，用时 0.023869 秒，Gzip 已禁用，内存占用 3.560 MB<br>
版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
  
   


//模糊查询
	function searchGoods(){
		$.ajax({
				url:"/api/search_goods",
				type:"post",
	            data:{
	            	keyword:$("#keyword").val()
	            },
	            success:function(res){
	                $(".shop_tab").append( tab(res))

				    }
	            
			})
	}

//加载商品列表
	fend();
	function fend(){
        $.ajax({
        	url:"/aaa",
            type:"get",
            data:{
                pageNO : $("#pageCurrent").html(),
			    perPageCnt : $("#pageSize").val()
            },
	        success:function(res){
	        	$(".shop_tab").append( tab(res.docs));
	        	$("#totalRecords").text(res.count);
	        	$("#totalPages").text(res.pages);
	        	$("#pageCurrent").text(res.pageNum);
	        	


	        }
        })
	}
//拼接tr商品列表
	function tab(res){
    $(".shop_tab").children().children().eq(0).siblings().remove();
		var str ="";
	    for( var i=res.length-1;i>=0;i--){
            str +='<tr><td><input type="checkbox" value="">' + res[i].goods_id +'</td><td><span class="good_name">' + res[i].goods_name + '</span></td><td><span>200</span></td><td><span>' + res[i].goods_price + '</span></td><td><img src="../images/no.gif"></td><td><img src="../images/yes.gif"></td><td><img src="../images/yes.gif"></td><td><img src="../images/yes.gif"></td><td><span>100</span></td><td><span>1</span></td><td><span>10</span></td><td><a href="#"><img src="../images/icon_view.gif"></a><a href="#"><img src="../images/icon_edit.gif"></a><a href="#"><img src="../images/icon_copy.gif"></a><a href="javascript:;" class="delete" onclick="del()"><img src="../images/icon_trash.gif"  ></a></td></tr>'

	}
		return str;
}
//假删除
function del(){
	var shop= $(".delete").parent().parent().children().eq(1).children().html();
	console.log( shop)
	$.ajax({
	  		url:"/api/remove",
	  		type:"post",
	  		data:{
	  		goods_name:	shop
	  		},
	        success:function(res){
	            console.log("删除成功")
	        }
	  	})
	history.go(0);
}


var addpage = parseInt($("#pageCurrent").html())
//上一页
$("#minpage").click(function(){
   $("#pageCurrent").html(addpage -= 1);
   fend();
 })
$("#addpage").click(function(){
	$("#pageCurrent").html(addpage += 1);
	fend();
 
})
</script>