<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

</head>
	<frameset id="header_frame" rows="118,*" border="none" scrolling="no" 
	>
		<frame src='header' framespacing="0" ></frame>
		<frameset id="body_frame" cols="180,10,*" border="none" framespacing="0">
			<frame src='mainleft' scrolling="yes" frameborder="0"></frame>
			<frame src='maincenter' scrolling="no" frameborder="0"></frame>
			<frame src="/mainright-list" name="mainContent" scrolling="yes" frameborder="0"></frame>
		</frameset>
	</frameset>

</html>